<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .top {
      width: 200px;
      background-color: aquamarine;
      margin: 40px 0;
      padding: 0;
      height: 0;
      border: 0;
    }
    p {
      width: 100px;
      background-color: brown;
      margin: 40px 0;
    }
    .bottom {
      background-color: black;
      height: 20px;
      width: 100px;
      margin-top: 40px;
    }
  </style>
</head>
<body>
  <div class="top">
    <p>collapse</p>
  </div>
  <div class="bottom"></div>
</body>
</html>