<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pull Down Loading Refresh</title>
    <link href="./index.css" rel="stylesheet"/>
    <script src="./index.js" async></script>
</head>
<body>
    <div class="main-container container--hide-loading" id="list-container">
        <div class="loading"></div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
        <div class="item">item</div>
    </div>
</body>
</html>