<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>垂直居中</title>
    <style>
        .container {
            height: 400px;
            background: red;
        }

        .item {
            height: 100px;
            width: 200px;
            background-color: aqua;
        }
    </style>
    <link href="./abs.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="item"></div>
    </div>
</body>
</html>