<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .wrapper {
      border: 1px dashed #666;
    }
    .left {
      width: 140px;
      background: #eee;
      height: 200px;
    }
    .right {
      background: #808080;
    }
  </style>
</head>
<body>
  <div class="wrapper clearfix">
    <div class="left">
      这是左侧
    </div>
    <div class="right">
      这是右侧
    </div>
  </div>
</body>
</html>