<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .text-zone {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80px;
      white-space: nowrap;
    }
  </style>
</head>
<body>
  <span class="text-zone">sskld;j  sadf;jsafjoas asdsadasdqweqweqweasddddddddddddddddddddddddddddddddddddddddddqweqweasdasdqwa</span>
</body>
</html>