<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flexbox</title>
    <link href="./index.css" rel="stylesheet"/>
</head>
<body>
    <article class="container">
        <section class="item-1"></section>
        <section class="item-2"></section>
        <section class="item-1"></section>
        <section class="item-1"></section>
        <section class="item-2"></section>
        <section class="item-1"></section>
        <section class="item-2"></section>
    </article>
</body>
</html>