<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>内联元素</title>
  <style>
    .wrapper {
      border: 1px dashed green;
      width: 200px;
      height: 200px;
    }
    .center {
      background-color: red;
    }
    .wrapper {
      line-height: 200px;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <span class="center">这个是内联元素</span>
  </div>
</body>
</html>